{% extends 'SFAbreBundle:Admin:base.html.twig' %}

{% block breadcrumbs %}
  <li><a href="#">Plan Abre</a> <span class="divider">/</span></li>
  <li><a href="{{ path('lineaaccion') }}">LineaAccion</a> <span class="divider">/</span></li>
  <li class="active">Editar</li>
{% endblock %}

{% block contenido %}

<table class="default_entity_show">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Orden</th>
                <td>{{ entity.orden }}</td>
            </tr>
        </tbody>
    </table>

<form action="{{ path('lineaaccion_edit', { 'id': entity.id }) }}" class="form-stacked">
  <div class="actions">
    <input type="submit" class="btn primary" value="Editar" />
  </div>
</form>

<form action="{{ path('lineaaccion_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <button type="submit" class="btn danger">Eliminar</button>
</form>
{% endblock %}