{% extends 'SFAbreBundle:Admin:base.html.twig' %}

{% block breadcrumbs %}
  <li><a href="#">Plan Abre</a> <span class="divider">/</span></li>
  <li class="active">Distrito</li>
{% endblock %}

{% block contenido %}

  <h1>Distrito</h1>

  <div class="accionesListado">
    {#<a href="{{ path('distrito_importar') }}" class="btn btn-default">Importar</a>#}
    {% if success is defined %}
    <div class="alert-message success fade in pull-right" data-alert="alert">
      <a class="close" href="#">×</a>
      <p>Mensaje de éxito</p>
    </div>
    {% endif %}
  </div>

  <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Numero</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.localidad.nombre }}</td>
                <td>{{ entity.numero }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  
    {% if hasPagination is defined %}
  <div class="pagination">
    <ul>
      <li class="prev disabled"><a href="#">&larr; Anterior</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li class="next"><a href="#">Siguiente &rarr;</a></li>
    </ul>
  </div>
  {% endif %}
  
  <script type="text/javascript">
    function deleteEntity(path) {
      $("#modal-from-dom .modal-header h3").html('Eliminar distrito');
      $("#modal-from-dom .modal-body p").html('Seguro desea eliminar el distrito?');
      $("#modal-from-dom #modal-button-primary").addClass('danger');
      $("#modal-from-dom #modal-button-primary").removeClass('primary');
      $("#modal-from-dom #modal-button-primary").html('Eliminar');
      $("#modal-from-dom #modal-button-primary").click(function() {
        $("#modal-from-dom").modal('hide');
        $.ajax({
          type: 'POST',
          url: path,
          data: {},
          success: function(response) {
            console.log(response);
            if (response.success) {
              location.href = "{{ path('distrito') }}";
            } else {
              alert(response.error);
            }
          },
          dataType: 'json'
        });
      });
      $("#modal-from-dom #modal-button-secondary").html('Cancelar');
      $("#modal-from-dom #modal-button-secondary").click(function() {
        $("#modal-from-dom").modal('hide');
        return true;
      });
      $("#modal-from-dom").modal('show');
    }
  </script>
{% endblock %}

